body {

background-color: #B675EB;


}

.grid-container-first {

    display: flex;

    flex-direction: row;
    width: 90%;
    height: 90%;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    background-color: #6357FF;  

    
}

.we-are-creative {

    text-transform: uppercase;
}

.start-here {

    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 3px 3px 3px 3px;

    width: 150px;
    height: 50px;

    box-shadow: 2px 2px 2px 2px black;

}

.first-item-1 {

    display: inline-block;
    padding: 30px;
    color: white;
    

}

.first-item-2 {

    display: flex;

}

.first-pic{

    display: flex;
    object-fit: contain;
    width: 100%;
    height: 100%;

}
